<div class="form-container">
  <button mat-icon-button class="btn-back" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="title">
    <h1>Please finish sign up</h1>
  </div>
  <div class="professional-info" >
    <form class="register-dev-form" [formGroup]="registerForm">
      <h3>Enter your professional information </h3>
      <mat-form-field appearance="fill" class="register-dev__languages">
        <mat-label>Languages</mat-label>
        <mat-select multiple formControlName="languages">
          <mat-option *ngFor="let language of languagesList" [value]="language">{{language}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="register-dev__databases">
        <mat-label>Databases</mat-label>
        <mat-select multiple formControlName="databases">
          <mat-option *ngFor="let database of databasesList" [value]="database">{{database}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="register-dev__frameworks">
        <mat-label>Frameworks</mat-label>
        <mat-select multiple formControlName="frameworks">
          <mat-option *ngFor="let framework of frameworksList" [value]="framework">{{framework}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="button-finish">
    <button mat-button color="primary" class="btn-register" (click)="openDialog()">Finish register</button>
  </div>
  <div class="copyrigth">
    <p>© 2022 Digital Mind.All your privacy is sure!</p>
  </div>
</div>