<form class="register-dev-form" [formGroup]="registerForm">
  <div class="main-div">
    <table class="example-full-width" cellspacing="10">
      <tr class="ali">
        <td>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input
              matInput
              placeholder="Ex. Evans"
              name="recruiter_first_name"
              formControlName="recruiter_first_name"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              placeholder="Ex. Johnson"
              name="recruiter_last_name"
              formControlName="recruiter_last_name"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+51 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder="955-555-123"
              name="recruiter_phone"
              formControlName="recruiter_phone"
            />
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <div class="main-div">
    <table class="example-full-width" cellspacing="20">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Ex. dev777@gmail.com"
              name="recruiter_email"
              formControlName="recruiter_email"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              name="recruiter_password"
              formControlName="recruiter_password"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" name="recruiter_confirm_pass" />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>

  <div class="professional-info">
    <h3>Enter information of your company</h3>
    <table cellspacing="10">
      <div class="professional-info-part">
        <tr>
          <td>
            <!--Change-->
            <mat-form-field appearance="fill">
              <mat-label>Company Name</mat-label>
              <input
                matInput
                placeholder="Google"
                name="company_name"
                formControlName="company_name"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>RUC</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 20552103816"
                name="ruc"
                formControlName="ruc"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Owner's Name</mat-label>
              <input
                matInput
                placeholder="Ex. Evans"
                name="owner_name"
                formControlName="owner_name"
              />
            </mat-form-field>
          </td>
        </tr>
      </div>
      <div class="professional-info-part">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input
                matInput
                placeholder="Ex. 1234 NW Bobcat Lane"
                name="address"
                formControlName="address"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Locality</mat-label>
              <input
                matInput
                placeholder="Ex. Manhattan"
                name="locality"
                formControlName="locality"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input
                matInput
                placeholder="Ex. New York"
                name="city"
                formControlName="city"
              />
            </mat-form-field>
          </td>
        </tr>
      </div>
    </table>
  </div>
</form>
<div class="container">
  <button
    mat-button
    color="primary"
    class="created"
    (click)="Add()"
    (click)="openDialog()"
    [disabled]="!registerForm.valid"
  >
    Create Account
  </button>
</div>
