<mat-toolbar color="primary">

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  <img src="assets/images/user.png" width="60" height="40">
  <span>Profile+</span>
  <span class="example-spacer"></span>
  <span>Company</span>
  <span class="example-spacer"></span>

  <button routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="/assets/images/recruiter1.png" width="30%">
    <h4 class="name">Jorge Kung</h4>
    <p class="designation">Amazon recruiter</p>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span> Home</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>messages</mat-icon>
      <span> Messages </span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>notifications</mat-icon>
      <span> Notifications</span>
    </button>

    <button routerLink="/profile-developer" mat-button class="menu-button">
      <mat-icon> person</mat-icon>
      <span> Profile</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon> settings</mat-icon>
      <span> Settings</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon> logout</mat-icon>
      <span> Logout</span>
    </button>

  </mat-sidenav>


  <mat-sidenav-content>
    <div class="content mat-elevation-z8">

      <mat-card *ngFor="let New of news" class="news-card">
        <mat-card-header>
          <div mat-card-avatar> <img [src]="New.profile_photo" alt="" class="avatar-header-image"> </div>
          <mat-card-title>{{New.author}}</mat-card-title>
          <mat-card-subtitle>from {{New.company}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="New.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h2>{{New.title}}</h2>
          <p>{{New.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
