<div class="notification">

  <mat-toolbar>
    <span>Notifications</span>
  </mat-toolbar>
  <mat-card *ngFor="let notification of notifications" class="notification-header">
    <mat-card-header>
      <div mat-card-avatar> <img [src]="notification.profile_photo" alt="" class="avatar-header-image"> </div>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{notification.contact}}</mat-card-title>
      <mat-card-subtitle>{{notification.message}}<br> {{notification.date}}</mat-card-subtitle>

      <span class="spacer"></span>
      <button mat-button class="notification-button" (click)="DeleteNotificationById(notification.id)">
        <mat-icon style="color:white">delete</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>


</div>
