<div class="form-container">
  <button mat-icon-button class="btn-back" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
    <table>
        <tr>
            <th>
                <img class="image-logo" src="../../../assets/images/digitalMindLogo.png" alt="Logo of the company">
            </th>
        </tr>
        <tr>
            <th><mat-card-title>Profile+</mat-card-title></th>
        </tr>
        <tr>
            <td><mat-card-subtitle>Fill in your credentials</mat-card-subtitle></td>
        </tr>
    </table>
    <div class="form-login">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <!--Email-->
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" placeholder="example@gmail.com">
                <mat-error *ngIf="email?.errors?.['required']">Email is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="password?.errors?.['required']">Password is <strong>required</strong></mat-error>
                <mat-error *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters long</mat-error>
            </mat-form-field>
            <button class="btnLogIn" [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit" >Log In</button>
        </form>
        <ul>
            <li><a routerLink="/forgot-password">Forgot Password?</a></li>
            <li><a routerLink="/register/developer">Create a new account</a></li>
        </ul>
    </div>
    <p>© 2022 Digital Mind.All your privacy is sure!</p>
</div>
