<div class="title">
  <p>Make a post with us is easy</p>
</div>
<form class="make-post-form" [formGroup]="postForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title for yout post</mat-label>
      <input matInput placeholder="Ex. Facebook required a developer in python" name = "title" formControlName="title">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. It is for all developers with 3 years working as developer..." name = "description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Url of image into the post</mat-label>
        <textarea matInput placeholder="Ex. https://th.bing.com/th/id/OIP.qNV2XkiYJLiFse9UFGoVOQHaE0?pid=ImgDet&rs=1" name = "imageUrl" formControlName="imageUrl"></textarea>
      </mat-form-field>
  </form>
  <div class = "div-btn">
    <button mat-raised-button color="primary" class="btn-send-post" (click)="onSubmit()">Publish</button>
  </div>