.container {
  margin: 16px;
  width: calc(85vw - 50px);
  height: calc(88vh - 50px);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 3rem;
  width: auto;
}
.father{
  height: 98%;
  border-radius: 10px;
}
.fields {
  max-width: 70%;
}
#-email {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
}
#-password {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
}
.edit {
  justify-self: end;
}
mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
button {
  align-self: center;
  min-width: 10rem;
  min-height: 3rem;
  margin: 0 1rem;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  grid-column: 1/3;
}
@media (max-width: 1480px) {
  .container {
    width: calc(75vw - 50px);
    height: calc(88vh - 50px);
  }
}

@media (max-width: 1100px) {
  .container {
    width: calc(75vw - 50px);
    height: auto;
  }
  .grid {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  img {
    grid-column: 1/2;
  }
  .fields {
    max-width: 60%;
  }
}
@media (max-width: 800px) {
  .container {
    width: calc(85vw - 50px);
  }
  .father {
    padding: 1rem;
    height: auto;
  }
  .grid {
    width: auto;
    grid-template-rows: repeat(6, 1fr);
    padding: 2rem;
    margin-bottom: 3rem;
  }
  .fields {
    max-width: 85%;
  }
}
