.grid {
  height: 88vh;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}
.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
  grid-column: 1/3;
}

.find-your-dev__form-field {
  font-size: 1rem;
  max-width: 18rem;
  justify-self: center;
}


.devs-card {
  height: 85vh;
}
.btn-register {

  width: 15rem;
  height: 3rem;
  justify-self: center;
  grid-column: 1/3;
}
p {
  margin-left: 1rem;
}
img {
  border-radius: 8rem;
}
mat-card-content {
  display: grid;
  grid-template-columns: 7% 93%;
  align-items: center;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
mat-checkbox {
  color: darkgrey;
  align-self: center;
  justify-content: center;
  margin-left: 9rem;
}
mat-form-field {
  margin-left: 2rem;
}


@media (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
    grid-column: 1/3;
  }
  .find-your-dev__form-field {
    max-width: 10rem;
    margin: 1%;
  }

  #ext {
    margin-left: 6rem;
  }
  #ext2 {
    margin-left: 6rem;
  }
  .btn-register {
    grid-column: 1/2;
  }
  mat-checkbox {
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
    grid-column: 1/2;
  }
  .find-your-dev__form-field {
    max-width: 60%;
  }

  #ext {
    margin-left: 3rem;
  }
  #ext2 {
    margin-left: 3rem;
  }

  .btn-register {
    grid-column: 1/2;
  }
  mat-checkbox {
    margin-left: 1rem;
  }
}


