mat-toolbar {
  background: #4054b4;
  color: white;
}

mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #4054b4;
  color:white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.content {
  height: calc(100vh - 98px);
  margin: 16px 16px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  font-size: 2rem;
  color: lightgray;
  background-color: #e0e0e0;

  border-radius: 10px;
}
::-webkit-scrollbar {
  display: none;
}

.created {
  background-color: #4054b4;
  color: #FFFFFF;
  width: 20rem;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
mat-sidenav-container{
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar1{
  margin-right: 50rem;
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255,255,255,0.5);
}

.example-spacer {
  flex: 1 1 auto;
}

.news-card {

  max-width: 720px;
  margin-bottom: 2rem;
}

.avatar-header-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.find-your-dev__form-field {
  font-size: 1rem;
  display: inline-block;

}
table {
  position: relative;
}
td {
  margin: 10px;
  font-size: 1rem;
  display: inline-block;
}
tr {
  align-items: center;
  justify-content: center;
}

mat-checkbox {
  color: darkgrey;
  display: inline-block;
}
mat-form-field {
  display: inline-block;
}



