<div class="grid">
  <div class="grid-two" [formGroup]="filterForm">

    <mat-form-field appearance="fill" class="find-your-dev__form-field">
      <mat-label>Years of experience</mat-label>
      <mat-select formControlName="years_of_experience">
        <mat-option *ngFor="let year of yearsOfExperience" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="find-your-dev__form-field">
      <mat-label>Specialty type</mat-label>
      <mat-select formControlName="specialty_type">
        <mat-option *ngFor="let specialty of specialtyType" [value]="specialty">
          {{specialty}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="find-your-dev__form-field">
      <mat-label>Level of study</mat-label>
      <mat-select formControlName="level_of_study">
        <mat-option *ngFor="let level of levelOfStudy" [value]="level">
          {{level}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="find-your-dev__form-field">
      <mat-label>Programming language</mat-label>
      <mat-select formControlName="programming_languages">
        <mat-option *ngFor="let language of programmingLanguages" [value]="language">
          {{language}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="find-your-dev__form-field" id="ext2">
      <mat-label>Databases</mat-label>
      <mat-select formControlName="databases">
        <mat-option *ngFor="let database of databaseList" [value]="database">
          {{database}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="find-your-dev__form-field" id="ext">
      <mat-label>Frameworks</mat-label>
      <mat-select formControlName="frameworks">
        <mat-option *ngFor="let framework of frameworkList" [value]="framework">
          {{framework}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn-register" (click)="openDialog()">Search</button>
  </div>
  <mat-card class="devs-card">
    <h2>Results</h2>
      <div *ngIf="devs.length != 0; else elseBlock">
        <mat-card-content *ngFor="let dev of devs">
          <img class="avatar mat-elevation-z8" src={{dev.image}} width="180%" (click)="openDialog()">
          <div style="display: flex;">
            <h3>{{dev.firstName}} {{dev.lastName}}</h3>
            <button mat-icon-button color="primary" (click)="openMessageDialog(dev.id)">
              <mat-icon>chat</mat-icon>
            </button>
          </div>
      </mat-card-content></div>
      <ng-template #elseBlock></ng-template>
  </mat-card>
</div>
