<div class="title">
    <p>Publish a new programming language</p>
  </div>
  <form class="make-post-form" [formGroup]="registerFormProgrammingLanguage">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Programming Language name</mat-label>
          <input matInput placeholder="Ex. Ex. C++" name="name" formControlName="name"/>
          <mat-error *ngIf="name?.errors?.['required']">Name is <strong>required</strong></mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Ex. Junior Developer" name="description" formControlName="description"/>
          <mat-error *ngIf="description?.errors?.['required']">Description is <strong>required</strong></mat-error>
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Icon URL</mat-label>
          <input matInput placeholder="EX. https://th.bing.com/th/id/OIP.qNV2XkiYJLiFse9UFGoVOQHaE0?pid=ImgDet&rs=1" name="iconLink" formControlName="iconLink"/>
          <mat-error *ngIf="iconLink?.errors?.['required']">Project Icon is <strong>required</strong></mat-error>
        </mat-form-field>
    </form>
    <div class = "div-btn">
      <button mat-raised-button color="primary" class="btn-send-post" (click)="addProgrammingLanguage()" >Publish</button>
    </div>