<div class="form-container myf">

    <div class="title">
      <h1 class="text">Get Started With DigitalMind</h1>
    </div>
    <section class="items-section">
        <mat-radio-group>
          <mat-radio-button routerLink="developer" class="items-margin" value="after" checked>Developer</mat-radio-button>
          <mat-radio-button  routerLink="company"  class="items-margin" value="before">Company</mat-radio-button>
        </mat-radio-group>
    </section> 
    <router-outlet></router-outlet>
  </div>
  
  

 
