<mat-card class="register-dev container">
    <h1>Get Started With DigitalMind</h1>
    <form class="register-dev-form" [formGroup]="registerForm">
        <table class="example-full-width" cellspacing="10">
            <tr>
            <td>
                <mat-form-field class="register-dev__firstname" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Ex. Evans" name="first_name" formControlName="first_name"/>
                </mat-form-field>
            </td>
    
            <td>
                <mat-form-field class="register-dev__lastname" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Johnson" name="last_name"  formControlName="last_name"/>
                </mat-form-field>
            </td>
    
            <td>
                <mat-form-field class="register-dev__phone" appearance="fill">
                <mat-label>Telephone</mat-label>
                <span matPrefix>+51 &nbsp;</span>
                <input type="tel" matInput placeholder="955-555-123" name="phone"  formControlName="phone"/>
                <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </td>
            </tr>
        </table>
    
        <table class="example-full-width" cellspacing="10">
            <tr>
            <td>
                <mat-form-field class="register-dev__email" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. dev777@gmail.com" formControlName="email"/>
                </mat-form-field>
            </td>
    
            <td>
                <mat-form-field class="register-dev__password" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" formControlName="password"/>
                </mat-form-field>
            </td>
    
            <td>
                <mat-form-field class="register-dev__lastname confirm" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" name="confirm_pass"/>
                </mat-form-field>
            </td>
            </tr>
        </table>

        <h2>Enter your professional info </h2>
        <table class="professional-info" cellspacing="10">         
            <tr>
                <td>
                    <mat-form-field appearance="fill" class="register-dev__languages">
                        <mat-label>Languages</mat-label>
                            <mat-select multiple  formControlName="languages">
                        <mat-option *ngFor="let language of languagesList" [value]="language">{{language}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                
                <td>
                    <mat-form-field appearance="fill" class="register-dev__databases">
                        <mat-label>Databases</mat-label>
                        <mat-select multiple  formControlName="databases">
                            <mat-option *ngFor="let database of databasesList" [value]="database">{{database}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            
                <td>
                    <mat-form-field appearance="fill" class="register-dev__frameworks">
                    <mat-label>Frameworks</mat-label>
                    <mat-select multiple formControlName="frameworks">
                      <mat-option *ngFor="let framework of frameworksList" [value]="framework">{{framework}}</mat-option>
                    </mat-select>
                </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
    <button mat-button color="primary" class="created" (click)="Add()" [disabled]="!registerForm.valid">Create Account</button>
</mat-card>


