 .register-dev-form{
    background-color: #02AAEE;
    width: 100%;
    height: 75%;
    margin: auto auto;
    justify-content: center;
    text-align: center;
}

.main-div {
  height: 90%;
  align-items: center;
  background-color: #02AAEE;
  width: 90%;
  margin: auto auto;
}


.main-div .mat-form-field {
  background-color: #FFFFFF;
  font-size: 0.7rem;
  margin: 3% 1%;
  text-align: center;
  width: 45%;
}


.professional-info{
    background-color: #007BBB; /* #007BBB */
    border-radius: 20px;
    border: 1px solid #000000;
    align-items: center;
    width: 90%;
    height: 40%;
    margin: 1% auto;
}

.professional-info .mat-form-field {
  background-color: #FFFFFF;
  font-size: 0.7rem;
  margin: 1% 1%;
  text-align: center;
  width: 30%;
}

h3{
  margin: 3%;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.register-dev-form .btn-register{
  background-color: #000000;
  color: #FFFFFF;
  width: 40%;
  height: 10%;
  margin: 1% auto;
  text-align: center;
  font-size: 1.8vh;
}

@media (max-width: 900px) {
  .register-dev-form{
    background-color: #02AAEE;
    width: 100%;
    height: 75%;
    margin: auto auto;
    justify-content: center;
    text-align: center;
  }

  .main-div {
    height: 100%;
    align-items: center;
    background-color: #02AAEE;
    width: 90%;
    margin: auto auto;
  }
  
  
  .main-div .mat-form-field {
    background-color: #FFFFFF;
    font-size: 0.7rem;
    margin: 1% 1%;
    text-align: center;
    width: 80%;
  }
  
  .register-dev-form .btn-register{
    background-color: #000000;
    color: #FFFFFF;
    width: 40%;
    height: 10%;
    margin: 0% auto;
    text-align: center;
    font-size: 1.8vh;
  }
}