<mat-card *ngFor="let New of news" class="news-card">
  <mat-card-header>
    <div mat-card-avatar> <img [src]="New.profile_photo" alt="" class="avatar-header-image"> </div>
    <mat-card-title>{{New.author}}</mat-card-title>
    <mat-card-subtitle>from {{New.company}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="New.image" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2>{{New.title}}</h2>
    <p>{{New.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
