<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="inner-content mat-elevation-z8">
      <mat-grid-list cols="4" rowHeight="88vh">
        <mat-grid-tile #first colspan="1" rowspan="1">
          <mat-card class="recruiter-personal-info">
            <div class="img-container">
              <img
                src="https://pbs.twimg.com/profile_images/1374076420566224899/wSZ6S8vW_400x400.jpg"
                alt=""
                class="card-img"
              />
            </div>

            <div class="img-container">
              <div class="card-container">
                <h1 class="card-title-text">Tomas Sanchez</h1>
                <p class="card-paragraph-text">
                  Experience as a manager of agile proyects. I work in Facebook
                  meta. Every day is a challenge.
                </p>
                <ul>
                  <li>
                    <mat-icon>email</mat-icon>
                    <div class="inner-li">
                      <span>Email</span>
                      <br />
                      <span>tomas.sanchez@gmail.com</span>
                    </div>
                  </li>
                  <li>
                    <mat-icon>phone</mat-icon>
                    <div class="inner-li">
                      <span>Phone</span>
                      <br />
                      <span>(+51) 983 232 439</span>
                    </div>
                  </li>
                  <li>
                    <mat-icon>location_on</mat-icon>
                    <div class="inner-li">
                      <span>Address</span>
                      <br />
                      <span>Lima, Lince</span>
                    </div>
                  </li>
                  <!-- facebook account -->
                  <li>
                    <mat-icon>facebook</mat-icon>
                    <div class="inner-li">
                      <span>Facebook</span>
                      <br />
                      <span>@jorge.martinez</span>
                    </div>
                  </li>
                  <!-- instagram account -->
                  <li>
                    <mat-icon>I</mat-icon>
                    <div class="inner-li">
                      <span>Instagram</span>
                      <br />
                      <span>@jorge.martinez</span>
                    </div>
                  </li>
                  <!-- twitter account -->
                  <li>
                    <mat-icon>T</mat-icon>
                    <div class="inner-li">
                      <span>Twitter</span>
                      <br />
                      <span>@jorge.martinez</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile #second colspan="3" rowspan="1">
          <mat-card class="recruirer-info">
            <mat-card-title>
              <div class="img-container-2">
                <img
                  src="https://www.planning.com.ar/wp-content/uploads/2022/01/Meta.jpeg"
                  alt=""
                  class="img-in"
                />
              </div>
            </mat-card-title>

            <mat-card-content>
              <p class="main-post-title">These are your lastest publications</p>
              <div class="posts">
                <mat-card *ngFor="let post of posts" class="post-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <img
                        [src]="post.recruiterIcon"
                        alt=""
                        class="avatar-header-image"
                      />
                    </div>
                    <mat-card-title>{{ post.recruiterName }}</mat-card-title>
                    <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image [src]="post.image" alt="Profile photo" />
                  <mat-card-content>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
